



.LP {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tag {
  font-size: 12px;
}

button {
  background-color: #EC4899; 
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

