.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* background: linear-gradient(to right, #7724ba,  #7b2cbc, #6b1eaa, #5623bd); Subtle gradient from purple to a soft pink */
    background: linear-gradient(to top, rgba(119, 36, 186, 1), rgba(134, 66, 177, 0.60), rgba(123, 44, 188, 0.30), rgba(148, 40, 236, 0.01));
    color: white;
    position: relative;
}

.footer-text {
  margin: 0;
  text-align: center;
  flex-grow: 1;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.github-link {
  color: #ec4899 !important;
  font-size: 1.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: auto;
}


.footer::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    /* background-color: red; */
    position: absolute;
    bottom: 0;
    left: 0;
}

.github-link:hover {
  color: #f472b6 !important;
}

.footer::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: red;
  position: absolute;
  bottom: 0;
  left: 0;
}