@tailwind utilities;


/* Custom styles */

body {
  background-color: black;
  color: white;
}

body {
  display: flex;
  flex-direction: column; /* Arrange children in a column */
}

footer {
  background-color: cyan;
}

main {
  background-color: indigo;
} 