.page {
  background-color: #612095;
}

.textwrapper {
  margin:0px 10px 0px 5px;
}

.rounded {
  border-radius: 5px;
}

.fullwidth {
  width: 100%;
}

.button {
  background-color: #EC4899;
  color: white;
}

.box {
  background-color: #CCB8F0;
}

.margin_y {
  margin: 5px 0px;
}

.margin_x {
  margin: 0px 5px;
}

.button_bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
}