/* .page {
  background-color: #612095;
} */
.input_dream {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: #ccb8f0;
  padding: 1rem;
  border-radius: 0.5rem;
}

.textarea_dream {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  outline: none;
  background-color: #ccb8f0;
  padding: 1rem;
  border-radius: 0.5rem;
}

.textwrapper {
  margin: 2rem 0;
}

.rounded {
  border-radius: 5px;
}

.fullwidth {
  width: 100%;
}

.button {
  background-color: #ec4899;
  color: white;
}

.box {
  background-color: #ccb8f0;
}

.margin_y {
  margin: 5px 0px;
}

.margin_x {
  margin: 0px 5px;
}

.button_bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
