.dashboard_dreams_container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0;
  margin-bottom: 40px;
  box-sizing: border-box; /* Ensure padding is included in width/height calculations */
  /* background-image: url("https://snipboard.io/D2OGnx.jpg"); Background image */
  /* background-size: cover; /* Cover the entire area */
  /* background-position: center; Center the image */
  /* background-repeat: no-repeat; Prevent image repeat */
  /* flex: 1; This will make it grow to fill available space */
}

.dashboard_heading {
  text-align: center;
}

.dream {
  background-color: #8f6bd4;
  backdrop-filter: blur(10rem);
  color: #ffffff;
  /* opacity: 0.9; */
  /* base-palette: black; */
  /* color: #ffffff; */
  padding: 1.6rem;
  margin: 1rem;
  border-radius: 0.6rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dream_button_container {
  display: flex;
  color: #ffffff;
  justify-content: center; /* Center the buttons */
  gap: 11rem; /* Adjust as needed */
  width: 100%; /* Ensures full width for centering */
  margin: 1rem 0; /* Adds vertical space around the buttons */
}

.dream_button {
  background-color: #ec4899;
  color: #ffffff;
  padding: 1rem;
  border-radius: 0.6rem;
  border: none;
  cursor: pointer;
  margin: 1rem 0; /* Adjusts margin for the button */
}

.dream h2 {
  font-weight: normal; /* Make the title bold */
}
.fixedPlusButton {
  position: fixed;
  right: 30px;
  bottom: 80px;
  background-color: #ec4899;
  width: 3.5rem;
  height: 3.5rem;
  color: #ffffff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 42px;
  line-height: 1;
}
.dream_buttons_container {
  display: flex;
  /* justify-content: space-around; */
  gap: 2rem;
  align-items: center;
  margin-bottom: 1rem;
}
/* .delete_icon {
  color: #ffffff;
  background-color: ;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
} */
